p {
    background-color: pink;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#first-even {
    color: blue;
    font-size: 36px;
}

p.third {
    font-size: 24px;
}

#second-even {
    background-color: lightgreen;
    font-weight: bold;
}

.changed-font {
    font-size: 24px;
}