@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 4rem;
}

button {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: solid 2px #e97210;
    background-color: transparent;
    border-radius: 3rem;
    font-size: 1.25rem;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #e97210;
    color: #ffffff;
}